#hero {
  height: 100vh;
  background: url("https://source.unsplash.com/1200x800/?house"),
    linear-gradient(to top, rgba(38, 160, 218, 1), rgba(49, 71, 85, 1))
      no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .details {
    height: 25%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    // background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    .title {
      font-size: 5rem;
      font-weight: 700;
      padding: 2rem 0;
    }
    .info {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1em 0;
    }

    // .search-box {
    //   width: 50%;
    //   background: black;
    //   color: #484848;
    //   outline: none;
    //   border-bottom: 1px solid #e4e4e4;
    // }
  }
}
