header {
  background: rgba(0, 0, 0, 1);
  overflow: auto;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 1000;

  .logo {
    margin-right: auto;

    .fas {
      font-size: 2rem;
      color: $white;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $pink;
      }
    }

    span {
      padding: 0 1rem;
      color: $white;
      font-size: 2rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $pink;
      }
    }

    a {
      text-decoration: none;
    }
  }

  nav {
    .nav-links {
      display: flex;
    }
    a {
      color: $white;
      text-decoration: none;
      padding: 10px 20px;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 1.1rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $pink;
      }

      &.register-btn {
        background: $pink;
        padding: 7px 25px;
        text-align: center;
        color: $white;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: $white;
          border: 1px solid $pink;
          color: $pink;
        }
      }
    }
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  nav {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}
